.header-nav{
    display: grid;
    grid-template-areas: "logo nav";
    background-image: url(assets/background-image.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.navbar{
    margin-top: 5px;
    grid-area: nav;
    display: grid;
    margin-left: 55%;
    grid-template-columns: repeat(10, auto);
    color: white;
}

.navbar a:link,
.navbar a:visited{
    padding: 8px 10px;
	text-decoration: none;
	color:#fff;
    height: fit-content;
	font-size: 90%;
	text-transform: uppercase;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.2s
}

.navbar a:hover,
.navbar a:active{
    border-bottom: 2px solid #e67e22;
}

.nav-menu{
    display: none;
}

.logo{
	width: 100px;
	height: auto;
	float: left;
    margin-left: 50px;
	margin-top: 20px;
}

.text-home-1{
	font-family: 'Libre Baskerville';
	font-weight: 700px;
	font-style: normal;
	font-size: 40px;
	line-height: 96px;
	position: absolute;
	width: 383px;
	height: 96px;
	color: #fff;
	top: 220px;
	left: 151px;
	text-align: left;
}

.text-home-2{
	font-family: 'Nunito';
	size: 80px;
	position: absolute;
	width: 550px;
	height: 64px;
	color: #fff;
	top: 370px;;
	left: 151px;
	text-align: left;
    opacity: .6;
}

.NavAnimation-enter{
    opacity: 0;
    transform: scale(0.5);
}

.NavAnimation-enter-active{
    opacity: 1;
    transform: translateX(0);
    transition: opacity 350ms, transform 350ms;
}

.NavAnimation-exit{
    opacity: 1;
}

.NavAnimation-exit-active{
    opacity: 0;
    transform: scale(0);
    transition: opacity 350ms, transform 350ms;
}

@media (max-width: 700px){
    .header-nav{
        grid-template-areas: "logo menu" "nav nav";
    }

    .navbar{
        grid-template-rows: repeat(16, auto);
        grid-template-columns: none;
        grid-row-gap: 5px;
        height: 60px;
        margin-top: -30%;
    }
    
    .navbar a{
        background-color: #000;
        padding: 0;
        margin: 0;
    }

    .nav-menu{
        display: block;
        background: none;
        border: none;
        margin-top: -20px;
    }
}