.footer-text__heading{
  height: 40px;
  width: 287px;
  /*margin-left: 154px;*/
  margin-left: 12%;
  margin-top: 114px;
  border-radius: nullpx;
  font-family: Libre Baskerville;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color:#ffffff;
}

.footer-text__underline{
    height: 3px;
    width: 48px;
    left: 154px;
    top: 1032px;
    border-radius: 16px;
    background: #0259EB;
  }

.footer-carousel{
  margin-top: 41px;
  padding: 50px;
}

@media (max-width:700px) {
  .footer-carousel{
    padding: 0;
  }
}